.item {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.678);
  padding: 8px;
  border: 2px solid black;
  border-radius: 8px;
}
.avatar {
  margin-bottom: 5px;
}
.name {
  color: black;
  font-weight: 500;
}

.status {
  font-weight: 600;
}

.status.success {
  color: green;
}

.status.error {
  color: red;
}
